---
import "../styles/reset.css";
import "../styles/style.css";
const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{pageTitle}</title>
		<style>
			a {
				text-decoration: none;
			}
			header {
				display: flex;
				justify-content: center;
				background-color: white;
				padding: 0 20px;
				height: 50px;
			}
			@media screen and (min-width: 960px) {
				header {
					height: 80px;
				}
			}
			header div {
				display: flex;
				align-items: center;
				justify-content: space-between;
				display: flex;
				width: 100%;
				max-width: 1024px;
			}
			.header-title {
				font-size: 30px;
				font-weight: 700;
			}
			nav {
				position: absolute;
				top: 50px;
				left: 0;
				right: 0;
				text-align: center;
				transform-origin: top;
				transform: scaleY(0);
				transition: ease 0.4s;
				background-color: white;
			}
			ul li a {
				display: block;
				padding: 10px;

				&:hover {
					background-color: #eee;
				}
			}
			@media screen and (min-width: 960px) {
				nav {
					position: relative;
					transform: initial;
					top: 0;
				}
				ul {
					display: flex;
				}
				ul li a {
					display: flex;
					align-items: center;
					height: 80px;
					padding: 0 20px;
				}
			}
			.menu-btn {
				display: flex;
				top: 10px;
				right: 10px;
				height: 50px;
				width: 50px;
				justify-content: center;
				align-items: center;
				z-index: 90;
				cursor: pointer;

				span,
				span:before,
				span:after {
					transition: ease 0.4s;
					content: "";
					display: block;
					height: 3px;
					width: 25px;
					border-radius: 3px;
					background-color: black;
					position: absolute;
				}
				span:before {
					bottom: 8px;
				}
				span:after {
					top: 8px;
				}
			}
			@media screen and (min-width: 960px) {
				.menu-btn {
					display: none;
				}
			}
			#menu-btn-check {
				display: none;
				&:checked ~ .menu-btn span {
					background-color: rgba(255, 255, 255, 0);
				}
				&:checked ~ .menu-btn span::before {
					bottom: 0;
					transform: rotate(45deg);
				}
				&:checked ~ .menu-btn span::after {
					top: 0;
					transform: rotate(-45deg);
				}
				&:checked ~ nav {
					transform: initial;
				}
			}
			#container {
				margin: 0 auto;
				background-color: white;
				max-width: 1024px;
			}
		</style>
	</head>
	<header>
		<div>
			<a href="/" class="header-title">Sora</a>
			<input type="checkbox" id="menu-btn-check" />
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">About</a></li>
					<li><a href="/blog">Blog</a></li>
					<li><a href="/">Article</a></li>
				</ul>
			</nav>
			<label for="menu-btn-check" class="menu-btn"><span></span></label>
		</div>
	</header>

	<body>
		<div id="container">
			<slot />
		</div>
	</body>


</html>
